.events-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
  row-gap: 70px;
  margin: 20px;
}
/* .events-container */